@model CmsShoppingCart.WebApp.Models.Authentication.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @foreach(var provider in Model.IdentityProviders)
    {
        <div class="col-md-10">
            <form asp-action="LoginWithSSO">
                <input type="hidden" name="providerId" value="@provider.Id"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">
                        <img src="~/media/sso-icons/@provider.Image" width="48" alt="@provider.Image" />
                        <span>Login with @provider.Name</span>
                    </button>
                </div>
            </form>
        </div>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
