@model CmsShoppingCart.WebApp.Models.Authentication.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-10">
        <form asp-controller="Account" asp-action="LoginWithSSO">
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="AuthenticationScheme" value="@SuportedAuthSchemas.Auth0" />
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="~/media/sso-icons/auth0-logo.png" width="48" alt="Auth0 logo" />
                    <span>Login with Auth0</span>
                </button>
            </div>
        </form>
    </div>

    <div class="col-md-10">
        <form asp-controller="Account" asp-action="LoginWithSSO">
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="AuthenticationScheme" value="@SuportedAuthSchemas.Okta" />
            <div class="form-group">
                <button type="submit" class="btn btn-outline-secondary">
                    <img src="~/media/sso-icons/okta-logo.png" width="48" alt="Okta logo" />
                    <span>Login with Okta</span>
                </button>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
